# Ignore virtual environment
venv/
.env

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore build and distribution folders
dist/
build/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp

# Ignore dependencies if using Poetry
poetry.lock

